<h1 class="banner">Welcome to your WatchLists</h1>
<br>
<button class="button-new-list"><%= link_to "Create a WatchList", new_list_path, class:"button-new-list-item" %></button>
<br>
<br>
<div class="container text-center">
  <div class="row row-cols-3">
    <% @lists.each do |list| %>
      <div class="col card-lists"><%= link_to list.name, list_bookmarks_path(list.id), class:"card-lists-item"%></div>
    <% end %>
  </div>
</div>
