.banner {
  background: linear-gradient(rgba(80, 80, 80, 0.5), rgba(80, 80, 80, 0.5)), url("https://images.squarespace-cdn.com/content/v1/530f5bf7e4b05040160cd475/1394139196599-1A3P2R2BN9WHXJL5PTFM/DSC_0983_0499.jpg?format=1000w");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 400px;
  width: 100%;
  margin: auto;
  line-height: 400px;
  justify-content: center;
  color: white;
  font-weight: 700;
}
